@font-face {
  font-family: 'Jetbrains-B';
  src: url('./fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
  font-family: 'Jetbrains-L';
  src: url('./fonts/JetBrainsMono-Light.ttf');
}

@font-face {
  font-family: 'Jetbrains-XL';
  src: url('./fonts/JetBrainsMono-ExtraLight.ttf');
}

@font-face {
  font-family: 'Jetbrains-R';
  src: url('./fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'Jetbrains-RI';
  src: url('./fonts/JetBrainsMono-Italic.ttf');
}

@font-face {
  font-family: 'Jetbrains-LI';
  src: url('./fonts/JetBrainsMono-LightItalic.ttf');
}

@font-face {
  font-family: 'Jetbrains-XLI';
  src: url('./fonts/JetBrainsMono-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Inter-R';
  src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-L';
  src: url('./fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter-LI';
  src: url('./fonts/Inter-LightItalic.ttf');
}

@font-face {
  font-family: 'Inter-XL';
  src: url('./fonts/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter-XLI';
  src: url('./fonts/Inter-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Inter-I';
  src: url('./fonts/Inter-Italic.ttf');
}

@font-face {
  font-family: 'Inter-B';
  src: url('./fonts/Inter-Bold.ttf');
}

#root {
  max-width: 1280px;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: rgba(29, 29, 29, 255);
}

html {
  background-color: rgba(29, 29, 29, 255);
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: black;
  -webkit-overflow-scrolling: touch;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.426));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-home-page-div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: radial-gradient(circle at top left, rgba(0, 255, 8, 0.4) 10%, transparent 40%);
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  left: 0px;
  right: 0px;
}

.home-page-header-app-name {
  margin-left: 5vw;
  font-family: 'Inter-B';
  font-size: 5vw;
}

.home-page-header-info-button {
  margin-right: 5vw;
}

.dev-info-main-section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(35, 35, 35, 0.773);
}

.dev-info-section {
  color: white;
  background-color: rgb(26, 26, 26);
  border-radius: 40px;
  max-height: 40vh;
  min-height: 40vh;
  max-width: 60vw;
  min-width: 70vw;
  z-index: 11;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7vw;
  text-align: left;
}

.first-dev-info {
  font-family: 'Jetbrains-L';
  font-size: 3.2vw;
}

.second-dev-info {
  font-family: 'Jetbrains-L';
  font-size: 3.2vw;
}

.home-page-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.washing-machine-logo {
  top: 12vh;
  width: 50vw;
  position: fixed;
  align-self: center;
}

.washing-machine-img {
  width: 50vw;
}

.home-page-selection {
  position: fixed;
  top: 40vh;
  text-align: left;
  align-self: center;
}

.home-page-buttons {
  position: fixed;
  top: 55vh;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  width: 100vw;
  transform: translate(22%, 0%);
}

.home-page-copyright-section {
  position: fixed;
  left: 0;
  transform: translate(65%, 0%);
  bottom: 5vh;
  font-family: 'Inter-XLI';
  color: grey;
  font-size: 12px;
}

.ground-page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  left: 0px;
  right: 0px;
  background-color: black;
}

.ground-page-header-app-name {
  font-family: 'Inter-B';
  font-size: 4vw;
  margin-left: -9vw;
  margin-right: 11vw;
  position: fixed;
  left: 25vw;
}

.back-button {
  display: flex;
  align-self: center;
  position: fixed;
  left: 5vw;
  top: 2.24%;
}

.refresh-button {
  display: flex;
  align-self: center;
  position: fixed;
  right: 5vw;
}

.date-section {
  align-self: center;
  font-family: 'Inter-B';
  font-size: 7vw;
  margin-top: 0px;
  text-align: left;
}

.table-start {
  margin-top: 9vh;
}

.floating-button {
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

.booking-page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11vw;
  padding-left: 10vw;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  right: 0px;
  background-color: black;
}

.booking-page-header-app-name {
  font-family: 'Inter-B';
  font-size: 4vw;
  margin-left: -5vw;
}

.booking-back-button {
  padding-left: 6vw;
  display: flex;
  align-self: center;
}

.booking-input-section {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  position: fixed;
  top: 10vh;
  height: 100vh;
  background: radial-gradient(circle at bottom left, rgba(0, 128, 0, 0.6) 10%, transparent 40%);
  width: 100vw;
}

.booking-date-section {
  border: 3px solid #00ff08;
  width: 50vw;
  font-family: 'Inter-R';
  font-size: 20px;
  align-self: center;
  padding: 2%;
  border-radius: 15px;
  margin-bottom: 1vh;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
  border-radius: 20px !important;
}

/* .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
} */

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
} */

.booking-error-toast {
  position: fixed;
  bottom: 1vh;
  color: red;
  padding: 1vw;
  border-radius: 1vh;
  width: 90%;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.data-div {
  max-width: max-content;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  border-radius: 10px;
}

.phone-no-div {
  background-color: rgb(69, 69, 69);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.room-no-div {
  background-color: rgb(34, 34, 34);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.main-div-in-floor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 10vh;
  left: 0;
  align-items: center;
  background: radial-gradient(circle at bottom left, rgba(0, 128, 0, 0.6) 10%, transparent 40%);
}

.tab-switcher {
  display: flex;
  flex-direction: row;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, -50%);
  border: 2px solid #00ff08;
  padding: 1.5%;
  border-radius: 20px;
  width: 58vw;
  height: 5vh;
  align-items: center;
}

.tab-switcher-tab-active {
  background-color: #00ff08;
  display: flex;
  border-radius: 15px;
  padding-left: 12%;
  padding-right: 12%;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  height: 5vh;
}

.tab-switcher-tab {
  padding: 5%;
  border-radius: 10px;
  padding-left: 12%;
  padding-right: 12%;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 17px;
  height: 5vh;
}