@font-face {
  font-family: 'Jetbrains-B';
  src: url('./fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
  font-family: 'Jetbrains-L';
  src: url('./fonts/JetBrainsMono-Light.ttf');
}

@font-face {
  font-family: 'Jetbrains-XL';
  src: url('./fonts/JetBrainsMono-ExtraLight.ttf');
}

@font-face {
  font-family: 'Jetbrains-R';
  src: url('./fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: 'Jetbrains-RI';
  src: url('./fonts/JetBrainsMono-Italic.ttf');
}

@font-face {
  font-family: 'Jetbrains-LI';
  src: url('./fonts/JetBrainsMono-LightItalic.ttf');
}

@font-face {
  font-family: 'Jetbrains-XLI';
  src: url('./fonts/JetBrainsMono-ExtraLightItalic.ttf');
}

#root {
  max-width: 1280px;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: rgba(29, 29, 29, 255);
}

html {
  background-color: rgba(29, 29, 29, 255);
}

body {
  background-color: rgba(29, 29, 29, 255);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.426));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  left: 0px;
  right: 0px;
  background-color: rgba(64, 64, 64, 255);
}

.home-page-header-app-name {
  margin-left: 5vw;
  font-family: 'Jetbrains-B';
  font-size: 5vw;
}

.home-page-header-info-button {
  margin-right: 5vw;
}

.home-page-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.washing-machine-logo {
  top: 8vh;
  width: 50vw;
  position: fixed;
  align-self: center;
}

.washing-machine-img {
  width: 50vw;
}

.home-page-selection {
  position: fixed;
  top: 33vh;
}

.home-page-buttons {
  position: fixed;
  top: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.home-page-copyright-section {
  position: fixed;
  bottom: 10vh;
  font-family: 'Jetbrains-XLI';
  color: grey;
  font-size: 12px;
}

.ground-page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  left: 0px;
  right: 0px;
  background-color: rgba(64, 64, 64, 255);
}

.ground-page-header-app-name {
  font-family: 'Jetbrains-B';
  font-size: 4vw;
  margin-left: -5vw;
}

.back-button {
  display: flex;
  align-self: center;
}

.refresh-button {
  display: flex;
  align-self: center;
}

.date-section {
  align-self: center;
  font-family: 'Jetbrains-B';
  font-size: 4.5vw;
  margin-top: 0px;
}

.table-start {
  margin-top: 2.5vh;
}

.floating-button {
  position: fixed;
  right: 2vh;
  bottom: 2vh;
}

.booking-page-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 11vw;
  padding-left: 10vw;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0px;
  height: 7vh;
  right: 0px;
  background-color: rgba(64, 64, 64, 255);
}

.booking-page-header-app-name {
  font-family: 'Jetbrains-B';
  font-size: 4vw;
  margin-left: -5vw;
}

.booking-back-button {
  padding-left: 6vw;
  display: flex;
  align-self: center;
}

.booking-input-section {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  position: fixed;
  top: 10vh;
}

.MuiInputBase-input {
  color: white !important;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  border: 1px solid white !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  border: 1px solid white !important;
}